@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <div class="lecture">
                        @course.Name
                        @if (course.isLogin)
                        {
                            if (course.isShowFollow)
                            {
                        <button data-user-id="@course.LecturerId" class="btn btn-default btn-sm js-tongle-follow">Follow</button>
                            }

                            else
                            {
                    <button data-user-id="@course.LecturerId" class="btn btn-success btn-sm js-tongle-follow">Following</button>
                            }
                        }

                    </div>
                    <span class="category">
                        @course.Category.Name
                        @if (course.isLogin)
                        {
                            if (course.isShowFollow)
                            {
                        <button data-course-id="@course.Id" class="btn btn-default btn-sm js-tongle-attendance">Going?</button>
                            }
                            else
                            {
                    <button data-course-id="@course.Id" class="btn btn-info btn-sm js-tongle-attendance">Going</button>
                            }
                        }
                        </span>
                    
                </div>
            </li>
        }
    </ul>
</div>


  

@section scripts{
    <script>
        $(document).ready(function () {
            $(".js-tongle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { Id: button.attr("data-course-id") })
                    .done(function () {
                        alert("Register course sucessfully!")
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    }).fail(function () {
                        alert("Something fail");
                    });
            });
        });
        $(".js-tongle-follow").click(function (e) {
            var button = $(e.target);
            $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                .done(function () {
                    button.text("Following");
                    alert("Follow sucessfully!")
                })
                .fail(function () {
                    alert("Something failed");
                    });
            });
    </script>
}